body{
    background-color: lightblue;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td{
    border: 2px solid black;
}

/* div > p{
    color: red;
} */

p{
    color: blue;
}